*{
  margin:0;
  padding:0;
}

.board{
  width: 100%;
  display:flex;
  flex-wrap: wrap;
  margin:1em;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  margin:1em;
  padding:2em;
  border: 2px solid white;
  border-radius: 5px;
  height: 10vh;
  width: 15vw;
  background-color: rgb(54, 54, 54);
}

.navBtns{
  display: flex;
  gap: 20px;
  justify-content: center;
}

.navBtns>button{
  width: 100px;
}
.pageTitle{
  max-width: fit-content;
  height: 5rem;
  margin: 2rem auto;
}
.shipPage{
  margin: 5rem ;
}
